<app-header></app-header>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Recevoir Paiement</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="login-wrap p-4 p-md-5">
              <div class="icon d-flex align-items-center justify-content-center">
                  <span class="fa fa-Paiement"></span>
              </div>
              <h3 class="text-center mb-4">Sign In</h3>
                    <form  class="login-form" #form="ngForm" (submit)="submit(form)">
                  <div class="form-group">
                      <input type="text" class="form-control rounded-left" placeholder="Code de Paiement" name="CodePaiement" id="CodePaiement" ngModel required>
                  </div>
            <div class="form-group d-flex">
              <input type="text" class="form-control rounded-left" placeholder="numeroDepiece"  name="numeroDepiece" id="numeroDepiece" ngModel required>
            </div>
            <div class="form-group d-flex">
                <input type="text" class="form-control rounded-left" placeholder="nomRecepteur"  name="nomRecepteur" id="nomRecepteur" ngModel required>
              </div>
            <div class="form-group">
                <button type="submit" class="form-control btn btn-primary rounded submit px-3">Login</button>
            </div>
            <div class="form-group d-md-flex">
                <div class="w-50">
                    <label class="checkbox-wrap checkbox-primary">Remember Me
                                  <input type="checkbox" checked>
                                  <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="w-50 text-md-right">
                                <a href="#">Forgot Password</a>
                            </div>
            </div>
          </form>
        </div>
            </div>
        </div>
    </div>
</section>

<app-footer><app-footer>